<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.h.mapper.VideoMapper">
    <insert id="follow">
        insert into h.t_follow_video (target, uid) values (#{target}, #{uid})
    </insert>
    <insert id="gte">
        insert into h.t_video (title, cover, playUrl) values (#{title}, #{cover}, #{playUrl})
    </insert>
    <update id="update">
        update h.t_video
        set title = #{title},
            cover = #{cover}, playUrl = #{playUrl}, enable = #{enable}, updateTime = #{updateTime}
        where id = #{id}

    </update>
    <delete id="followCancel">
        delete from h.t_follow_video
        where target = #{target} and uid = #{uid}
    </delete>
    <delete id="delete">
        delete from h.t_video where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
    </delete>


    <select id="page" resultType="td.h.o.T_Video">
        select *
        from h.t_video
        where enable = true
        order by updateTime desc
    </select>
    <select id="pageFollowed" resultType="td.h.o.T_Video">
        select *
        from h.t_video v inner join h.t_follow_video fv on fv.target = v.id and fv.uid = #{_parameter}
        order by fv.createTime desc
    </select>
    <select id="alreadyFollowed" resultType="java.lang.Boolean">
        select count(1)
        from h.t_follow_video
        where uid = #{uid} and target = #{target}
    </select>
    <select id="getEnabledVideoById" resultType="td.h.o.T_Video">
        select *
        from h.t_video
        where id = #{_parameter} and enable = true
    </select>
    <select id="adminPage" resultType="td.h.o.T_Video">
        select * from h.t_video
        <include refid="query"/>
        order by id desc
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from h.t_video
        <include refid="query"/>
    </select>

    <sql id="query">
        <where>
            <if test="title != null and title!=''">and title like concat('%', #{title},'%')</if>
            <if test="updateTimeBegin != null and updateTimeBegin!=''">and updateTime &gt; #{updateTimeBegin}</if>
            <if test="updateTimeEnd != null and updateTimeEnd!=''">and updateTime &lt; #{updateTimeEnd}</if>
        </where>
    </sql>
</mapper>